.navbar {
    display: flex;
    flex-direction: column;
}

.navbar-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}

.navbar-row a {
    font-size: 4vh;
    color: black;
}

.navbar-row > .motif {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 5vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    gap: 0.5em;
}

.navbar-row .mat-icon {
    transform: scale(2);
}
